.line {
  position: relative;
  z-index: 1;
}

.line::before {
  content: " ";
  position: absolute;
  width: 521px;
  height: 10px;
  background-color: var(--yellow);
  bottom: 3px;
  left: 2px;
  z-index: -1;
}
