.carousel .control-dots .dot {
  width: 12px;
  height: 12px;
}

.products {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 34.08%;
  left: 13.44%;
}

.heading {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.div {
  width: 613px;
  height: 120px;
  text-align: left;
}

.div h2 {
  color: var(--Black, #000);
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 125% */
}

.line {
  position: relative;
}

.line::before {
  content: " ";
  position: absolute;
  height: 10px;
  width: 300px;
  background-color: var(--yellow);
  bottom: 8px;
  left: 7px;
  z-index: -1;
}

.heading p {
  flex-shrink: 0;
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
  text-align: left;
  width: 50%;
  margin-top: 20px;
}

.footer {
  display: flex;
  margin-top: 35px;
}

.footer button {
  display: flex;
  align-items: center;
  padding-left: 29px;
  justify-content: space-between;
  background-color: #fcd900;
  color: var(--Black, #000);
  border: none;
  border-radius: 4px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
  cursor: pointer;
  width: 220px;
  height: 48px;
}

.footer button .icon {
  margin-right: 19px;
  width: 14.943px;
  height: 11.167px;
}

.contact {
  display: flex;
  margin-left: -52px;
}

.contact .phone {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 6px;
}

.numberText {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-left: -47px;
}

.numberText p {
  color: var(--Black, #000);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 119px;
  height: 17px;
  opacity: 0.7;
}

.numberText a {
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  width: 159px;
  height: 23px;
  top: 20px;
  left: 41px;
}
