.container {
  width: 1920px;
  height: 1534px;
  position: relative;
  background: #f1f1f1;
}

.container::before {
  content: "";
  height: 648px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/src/assets/BackgroundAbout.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.customClass {
  display: flex;
  flex-direction: column;
  padding-top: 84px;
  padding-left: 259px;
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.content h2 {
  color: var(--Black, #000);
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 125% */
}

.link {
  display: flex;
  gap: 20px;
  margin-top: 12px;
}

.link a {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  text-decoration: none;
}

.link img {
  width: 4.571px;
  height: 8px;
  flex-shrink: 0;
  margin-top: 4px;
}

.div {
  width: 1401px;
  height: 76px;
  margin-top: 61px;
}

.div h3 {
  color: var(--Black, #000);
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 126.667% */
}

.line {
  position: relative;
}

.line::before {
  content: " ";
  position: absolute;
  width: 521px;
  height: 10px;
  background-color: var(--yellow);
  bottom: 3px;
  left: 5px;
  z-index: -1;
}

.content p {
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
  width: 1402px;
  flex-shrink: 0;
  opacity: 0.7;
  padding-top: 51px;
}

.content2 {
  display: flex;
  flex-wrap: wrap; /* Permite împachetarea pe mai multe linii */
  gap: 16px;
  z-index: 1;
  margin-top: 59px;
}

.box {
  margin-bottom: 66px;
  text-align: center;
}

.imageContainer {
  position: relative;
  display: inline-block;
  overflow: hidden; /* Previne depășirea elementului părinte */
}

.imageContainer img {
  width: 100%;
  height: auto; /* Păstrează raportul de aspect al imaginii */
}

.socialMedia {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding-bottom: 48px;
  background-image: url(/src/assets/OurTeam.svg);
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 29.164px;
  margin-bottom: 27px;
}

.socialMedia a:nth-child(1) img {
  width: 18.836px;
  height: 18px;
}

.socialMedia a:nth-child(2) img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.socialMedia a:nth-child(3) img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.socialMedia img {
  transition: all 0.3s linear;
}

.socialMedia img:hover {
  transform: scale(1.5);
}

.paragraph {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding-bottom: 21px;
  background-image: url(/src/assets/OurTeam.svg);
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  opacity: 0.5;
}

.content2 h3 {
  color: #000;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 126.667% */
  margin-top: 9px;
}
