.container {
  display: flex;
  flex-direction: column;
  width: 1403px;
  height: 584px;
  flex-shrink: 0;
  margin-top: 114px;
  margin-left: 259px;
}

.content {
  display: flex;
  flex-direction: row;
}

.parteners {
  display: flex;
  flex-direction: column;
}

.content h1 {
  color: var(--Black, #000);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  opacity: 0.3;
}

.div {
  width: 577px;
  height: 120px;
}

.div h2 {
  color: var(--Black, #000);
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 125% */
}

.line {
  position: relative;
  z-index: 1;
}

.line::before {
  content: " ";
  position: absolute;
  width: 375px;
  height: 10px;
  background-color: var(--yellow);
  bottom: 8px;
  left: 8px;
  z-index: -1;
}

.describe {
  display: flex;
  flex-direction: column;
  margin-left: 113px;
  margin-top: 35px;
}

.content p {
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
  width: 650px;
  flex-shrink: 0;
  opacity: 0.7;
}

.content h3 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
}

.container2 {
  margin-top: 78px;
}

.partnerText {
  position: absolute;
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -73px;
}
