/* Lets import the font to use */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
}

/*
body {
  background: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.none {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: yellow;
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: white;
}

.btn a {
  color: white;
  font-weight: 400;
}

.btn:hover {
  background: black;
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: green;
}

p {
  font-size: 13px;
  color: gold;
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: black;
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: black;
}

/* This is all for the default styles */
