.container {
  display: flex;
  width: 1920px;
  height: 755px;
  border-top: 1px solid #bdbdbd;
  z-index: 0;
  flex-direction: column;
  margin-bottom: 93px;
}

.news {
  position: absolute;
  width: 1520px;
  height: 755px;
  left: 395px;
  z-index: 0;
  opacity: 0.2;
}

.newsAll {
  display: flex;
  flex-direction: column;
  padding-top: 119px;
  padding-left: 260px;
}

.newsDescription {
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 920px;
}

.newsDescription p:first-child {
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  opacity: 0.3;
  width: 156px;
  height: 32px;
}

.div {
  width: 919px;
  height: 60px;
}

.div h2 {
  color: var(--Black, #000);
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 125% */
}

.line {
  position: relative;
}

.line::before {
  content: " ";
  position: absolute;
  width: 185px;
  height: 10px;
  background-color: var(--yellow);
  bottom: 7px;
  left: 10px;
  z-index: -1;
}

.newsDescription p:last-child {
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  width: 984px;
  height: 68px;
  margin-top: 11px;
}

.generalContainer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 44px;
  /* margin-bottom: 93px; */
}

.generalContainer p:first-child {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.containerNews p:first-child {
  margin-bottom: 10px;
}

.containerNews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.containerNews button {
  margin-top: 56px;
}

.containerNews p:nth-child(2) {
  width: 58%;
}

.containerNews:last-child p:first-child {
  width: 65%;
}

.containerNews button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  border-radius: 4px;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  width: 220px;
  height: 48px;
}

.icon {
  padding-left: 70px;
}
