.container {
  width: 1920px;
  height: 848px;
  position: relative;
}

.container::before {
  content: "";
  height: 755px;
  position: absolute;
  top: 0;
  left: 396px;
  right: 0;
  bottom: 0;
  background-image: url(/src/assets/Background-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.newsAll {
  display: flex;
  flex-direction: column;
  padding-top: 119px;
  padding-left: 260px;
}

.newsDescription {
  display: flex;
  flex-direction: column;
  width: 920px;
}

.newsDescription p:first-child {
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
  opacity: 0.3;
  width: 156px;
  height: 32px;
}

.div {
  width: 919px;
  height: 60px;
}

.div h2 {
  color: var(--Black, #000);
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 125% */
}

.line {
  position: relative;
}

.line::before {
  content: " ";
  position: absolute;
  width: 185px;
  height: 10px;
  background-color: var(--yellow);
  bottom: 7px;
  left: 10px;
  z-index: -1;
}

.newsDescription p:last-child {
  color: var(--Black, #000);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  width: 984px;
  height: 68px;
  margin-top: 11px;
}

.generalContainer {
  display: flex;
  margin-top: 50px;
  gap: 39px;
}
